@import "../../style.scss";

.messenger {
  @include themify($themes) {
    background-color: themed("bgSoft");
  height: calc(100vh - 70px);
  display: flex;
}

}



.chatMenu {
  flex: 3.5;
}

.chatMenuInput{
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #965acd;
  font-size: 1rem;
  font-weight: 800;
  // position: fixed;
  // background-color: gray;
  // z-index: 9;
 

}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
  margin-bottom: 1.5rem;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 21px;
  padding: 10px;
  border-radius: 15px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnline {
 flex: 3; 
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 96%;
  overflow-y: auto;
  overflow-x: hidden;
}::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cfa3f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #965acd;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #965acd;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }

  .chatOnline{
    flex: 1px;
  }
}
.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.receiver{
  position: absolute;
  padding-left: 48px;
}